# Specific
*.exe

search/regex.*

computer-graphics/3d-modeller/
computer-graphics/**/.clang-format

clustering/*.png
clustering/i/*
clustering/o/*
!clustering/i/lenna*
!clustering/i/mondrian*
!clustering/o/lenna*
!clustering/o/mondrian*

natural-language/lstm_test.py
natural-language/seq2seq.py
natural-language/por.txt

# IntelliJ
gradle
gradlew
gradlew.bat
.gradle
.idea

# VS Code
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
